.card {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  .contentContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .textContainer {
      max-width: 300px;
      word-break: break-all;
    }
  }
  .image {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: red;
  height: 48px;
  background: hsla(0, 0%, 96.1%, 0.68);
  .saved {
    color: #28a745;
  }
}
