.viewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(174, 105, 214);
  min-height: 300px;
  border-radius: 5px;
  padding: 40px;

  .viewContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .viewContentInfoHeader {
      color: rgb(0, 0, 0);
      font-size: 2rem;
      padding-bottom: 25px;
    }
  }
}

.viewNameCompany {
    width: 100%;
    text-align: center;
}
